@media (max-width: 900px) {
  .sectionStore {
    width: 70% !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .navbarOverAll {
    display: none;
    visibility: hidden;
  }
  .flexrowTow {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .statistic {
    width: 90%;
  }
  .topicSearch {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  .sectionStore {
    width: 90% !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
  .navbarOverAll {
    display: none;
    visibility: hidden;
  }
  .serchdiv {
    height: 100% !important  ;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 200px !important;
  }
  .flexrowbetween {
    display: block !important;
  }

  .img {
    height: auto;
  }
}
