<!DOCTYPE html>
<html>
  <head>
    <title>upload</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" /> -->
    <link rel="stylesheet" href="/stylesheets/Allsite.css" />
    <script
      src="https://kit.fontawesome.com/2588cf64c4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <form action="/uploadImg" method="POST" enctype="multipart/form-data">
        <label for="file">upload image</label>
        <input type="file" name="file" />
        <button>send</button>
      </form>
    </div>
  </body>
</html>
